<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!--Bean Declaration -->

<bean id="messageSender" class="com.tca.beans.MessageSender" init-method="myInit" destroy-method="myDestroy">
		<property name="serverIp" value="134.56.78.12"/>
		<property name="serverPort" value="8081"/>
</bean>
	
	
		<!--Bean Declaration -->
	
 
	
</beans>