<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- bean definitions here -->
    <!-- 
    <bean id="serviceA" class="com.tca.entities.ServiceA" autowire="byType">
    </bean>
    
    <bean id="serviceB" class="com.tca.entities.ServiceB">
    </bean>
 -->	
 
 	<bean id="serviceA" class="com.tca.entities.ServiceA" autowire="constructor">
    </bean>
    
    <bean id="sb" class="com.tca.entities.ServiceB">
    </bean>
    
    <bean id="sb2" class="com.tca.entities.ServiceB" primary="true">
    </bean>
	
</beans>